body {
    margin: 0;
    overflow-x: hidden;
}

.section-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.custom-svg {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    position: absolute;
    margin: 0 auto;
    /* Our stuff */
    position: absolute;
    /* top: 0; */
    left: 0;
    z-index: 0;
}

.second-svg {
    width: 100%;
    max-width: 100% !important;
    height: auto;
    display: block;
    position: absolute;
    margin: 0 auto;
}

/* .custom-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    aspect-ratio: 6 / 5;
    width: 100%;
    height: auto;
} */

.flipped {
    transform: scaleY(-1);
}

.panel-wave {
    position: relative;
    z-index: 1000;
    /* foreground */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
}

.line {
    fill: none;
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
    stroke: rgb(78, 78, 78);
    stroke-dasharray: 28000;
    stroke-dashoffset: 28000;
    animation: line 10s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}